<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand">Home</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link waves-light " mdbWavesEffect>Food Recipe</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link waves-light " mdbWavesEffect>Staff</a>
            </li>

        </ul>

    </links>
</mdb-navbar>