<div class="container">

    <section class="">

        <!--Grid row-->
        <div class="row offset">

            <!--Grid column-->
            <div class="col-4">

                <!--Card-->
                <div class="card card-cascade cascading-admin-card">

                    <!--Card Data-->
                    <div class="admin-up">
                        <i class="fa fa-clipboard primary-color"></i>
                        <div class="data">
                            <p>REQUESTS</p>
                            <h4><strong>5</strong></h4>
                        </div>
                    </div>
                    <!--/.Card Data-->

                    <!--Card content-->
                    <div class="card-body">

                        <!--Text-->
                        <p class="card-text">View requests made by you!</p>

                        <button [routerLink]="['/add-request/app-list']" size="sm" type="" color="success" mdbBtn>Add</button>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4">

                <!--Card-->
                <div class="card card-cascade cascading-admin-card">

                    <!--Card Data-->
                    <div class="admin-up">
                        <i class="fa fa-clock-o warning-color"></i>
                        <div class="data">
                            <p>PENDING</p>
                            <h4><strong>7</strong></h4>
                        </div>
                    </div>
                    <!--/.Card Data-->

                    <!--Card content-->
                    <div class="card-body">

                        <!--Text-->
                        <p class="card-text">These requests are awaiting your approval!</p>
                        <button [routerLink]="['/add-request/authorize-request']" size="sm" type="" color="primary" mdbBtn>View</button>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-4">

                <!--Card-->
                <div class="card card-cascade cascading-admin-card">

                    <!--Card Data-->
                    <div class="admin-up">
                        <i class="fa fa-check-circle light-blue lighten-1"></i>
                        <div class="data">
                            <p>STATUS</p>
                            <h4><strong>10</strong></h4>
                        </div>
                    </div>
                    <!--/.Card Data-->

                    <!--Card content-->
                    <div class="card-body">

                        <!--Text-->
                        <p class="card-text">Approval Status!</p>
                        <button [routerLink]="['/add-request/request-status']" size="sm" type="" color="primary" mdbBtn>View</button>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->



        </div>
        <!--Grid row-->

    </section>
</div>

<router-outlet></router-outlet>