<table mdbTable class="z-depth-1">
    <thead>
        <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let el of elements; let i = index">
            <th *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" scope="row">{{el.id}}</th>
            <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.first}}</td>
            <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.last}}</td>
            <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.handle}}</td>
        </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">

        <tr>
            <td colspan="4">
                <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
                </mdb-table-pagination>
            </td>
        </tr>

    </tfoot>
</table>