<div class="container">
    <!--Table-->
    <table class="table mt-5">

        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Service</th>
                <th>Issue</th>
                <th>Action</th>

            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody style="background-color: white;">
            <tr>
                <th scope="row">1</th>
                <td>20/01/2018</td>
                <td>Cheque Management</td>
                <td>Couldn't submit</td>
                <td><button href="#" size="sm" type="" color="success" mdbBtn>Authorize</button>
                    <button href="#" size="sm" type="" color="danger" mdbBtn>Deny</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>20/01/2018</td>
                <td>Cheque Management</td>
                <td>Couldn't submit</td>
                <td><button href="#" size="sm" type="" color="success" mdbBtn>Authorize</button>
                    <button href="#" size="sm" type="" color="danger" mdbBtn>Deny</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>20/01/2018</td>
                <td>Cheque Management</td>
                <td>Couldn't submit</td>
                <td> <button href="#" size="sm" type="" color="success" mdbBtn>Authorize</button>
                    <button href="#" size="sm" type="" color="danger" mdbBtn>Deny</button></td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>