.view {
    background: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=62a77bae48158b98b0acdf9fa674410e&auto=format&fit=crop&w=500&q=60")no-repeat center center;
    background-size: cover;
    height: 822px;
    padding-top: 120px;
    overflow-y: auto;
    margin-top: -70px;
}