<div class="container">

    <!--Table-->
    <table id="request-status" class="table mt-5">

        <!--Table head-->
        <thead class="blue-grey lighten-4">
            <tr>
                <!-- <th>#</th> -->
                <th>Request Date</th>
                <th>Requested By</th>
                <th>Authorised Date</th>
                <th>Authorised By</th>
                <th>Status</th>
                <th>Issue</th>
                <th>Service</th>

            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody *ngFor="let request of requestList" style="background-color: white;">
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{request.RequestDate}}</td>
                <td>{{request.RequestedBy}}</td>
                <td>{{request.AuthorisedDate}}</td>
                <td>{{request.AuthorisedBy}}</td>
                <td>{{request.Status}}</td>
                <td>{{request.Issue}}</td>
                <td>{{request.Service}}</td>
            </tr>

        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->

</div>