<div class="container">
    <div class="offset-3 mt-5 col-6">
        <mdb-card>
            <header>
                <h1 class='text-center'>Add Request</h1>
            </header>
            <mdb-card-body>
                <form [formGroup]="appListForm">

                    <!-- Dropdown -->
                    <p><select id="select" #select (mouseout)="getSelectedOptionValue()" formControlName="select1" class="browser-default custom-select">
                            <option value="0">Select a service</option>
                            <option id="{{service.value}}"  *ngFor="let service of serviceName" value="{{service.value}}">{{service.name}}</option>                           
                          </select></p>
                    <!-- Dropdown -->
                    <!-- Dropdown2 -->
                    <p><select *ngIf="issueName" formControlName="select2" class="browser-default custom-select">
        <option selected>Select an issue</option>
        <option  *ngFor="let issue of issueName" value="{{issue}}">{{issue}}</option> 
        
      </select></p>
                    <!-- Dropdown2 -->
                    <button [routerLink]="['/add-request/app-form']" type="button" class="btn btn-primary btn-sm">Submit</button>

                </form>

            </mdb-card-body>
        </mdb-card>
    </div>
</div>