<div class="container">
    <div class="offset-3 mt-5 col-6">
        <mdb-card>
            <header>
                <h1 class='text-center'>API parameters</h1>
            </header>
            <mdb-card-body>
                <form [formGroup]="parameterForm">
                    <div class="offset">
                        <div class="form-group">
                            <label for="Field1">Cheque number</label>
                            <input type="text" class="form-control" id="" formControlName="Field1" placeholder="Field1">
                        </div>
                        <div class="form-group">
                            <label for="Field2">Cheque Type</label>
                            <input type="text" class="form-control" id="" formControlName="Field2" placeholder="Field2">
                        </div>
                        <button [routerLink]="['/add-request/app-list']" type="button" class="btn btn-success btn-sm">Login</button>

                    </div>
                </form>

            </mdb-card-body>
        </mdb-card>
    </div>
</div>